* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
body{
    background-color: #e7bfbf;
}
  #contenedorPadre {
    position: relative;
    width: 400px;
    height: 400px;
    left: 40%;
    top: 300px;
    background-color: #e6a2a2;
    border: 1px solid #000000;
  }

  #contenedorHijo {
    position: absolute;
    left: 100px;
    bottom: 85px;
    margin: auto;
  }
.calculadora {
    width: 200px;
    padding: 10px;
    background-color: #e6a2a2;
    border: 1px solid #000000;
    
  }
  
  #result {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
  }
  
  .botones button {
    width: 22%;
    padding: 6px;
    margin: 8px;
  }