*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .cronometro {
    text-align: center;
  }

 #timer{
    font-size: 50px;
 } 
  .boton {
    font-size: 50px;
    margin: 20px;
  }