body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container div {
    cursor: pointer;
    margin: 10px;
}

#container img {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}